Configuration.json
Teleporter/**
DataTransfer
ScriptTracking
Infos
CsCompilerConfiguration.json
CargoTeleport/**
CustomDLLs/**
ItemStructureTree.ecf
NameIdMapping.json
**Egs**
*.bak
/IdIconMapping.json
/.vs
