Configuration.json
Teleporter/**
DataTransfer
ScriptTracking
ServerInfos
PlayfieldInfos
CsCompilerConfiguration.json
CargoTeleport/**
CustomDLLs/**
ItemStructureTree.ecf
NameIdMapping.json
Scripts/EgsEsExtensionRun.cs
*.bak
CsCompilerConfiguration-EGS.json
