Configuration.json
Teleporter/**
DataTransfer
ScriptTracking
ServerInfos
PlayfieldInfos
CsCompilerConfiguration.json
CargoTeleport/**
CustomDLLs/**
ItemStructureTree.ecf
Scripts/EgsEsExtensionRun.cs
*.bak
